.button {
    border-radius: 4px;
    font-family: inherit;
    font-weight: 700;
    font-size: 0.875rem;
    height:28px;
    border-style: none;
    background-color: hsl(180, 31%, 95%);
    color: hsl(180, 29%, 50%);
    cursor: pointer;
    outline: none;
}

.button:hover {
  background-color: hsl(180, 29%, 50%);
  color: hsl(180, 52%, 96%); 
}

.button:active {
  background-color: hsl(180, 29%, 58%);
  color: hsl(180, 52%, 96%); 
}

.button:focus {
  background-color: hsl(180, 29%, 58%);
  color: hsl(180, 52%, 96%); 
}


.button.text {
  color: hsl(180, 14%, 20%);
  background-color: transparent;
}

.button.text:hover {
  color: hsl(180, 29%, 50%); 
  text-decoration: underline;
}

.button.text:active {
  color: hsl(180, 29%, 58%);
  text-decoration: underline;
}

.button.text:focus{
  color: hsl(180, 29%, 58%);
  text-decoration: underline;
}

